{% capture myContent %}
    {{content}}

    <ul class="latest">{% for post in site.posts %}
        <li class="media">
            <img src="{{ site.url }}/thumbs/{{post.tags.first}}.png" alt="thumb" />
            <h3>{{ post.title }}</h3>
            {% if post.date %}<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>{% endif %}
            <p class="introduction">{{ post.excerpt }}</p>
            <a href="{{ site.url }}{{ post.url }}">More...</a>
        </li>
    {% endfor %}</ul>
{% endcapture %}{% include template.html content=myContent id="home" %}
